!!!
%html.no-js{:lang => "en"}
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:charset => "utf-8"}/
		%meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		%meta{:name => "pinterest", :content => "nopin"}/
		%title Dayne Arron Watai
		%link{:href => "css/app.css", :rel => "stylesheet"}/
		%link{:href => "css/animsition.css", :rel => "stylesheet"}/
		%link{:href => "bower_components/slick-carousel/slick/slick.css", :rel => "stylesheet"}
		%link{:href => "bower_components/normalize-css/normalize.css", :rel => "stylesheet"}
	%body.welcome.animsition{:"data-animsition-out-class" => "fade-out-down-sm", :"data-animsition-out-duration"=>"1000", :"data-animsition-in-class" => "fade-in-up-sm", :"data-animsition-out-duration"=>"500"} 
		.hero	
			.row
				.container
					%h1#logo Dayne-Arron Watai
		.row
			.container
				.carousel	
					%a{:href => "/"}
						%img{:src => "img/sophia/sophia-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/headshots/headshots-01.jpg", :alt => ""}/					
					%a{:href => "/"}
						%img{:src => "img/luca/luca-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/jae/jae01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/maddi/maddi-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/jmarie/jmarie-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/madeline/madeline-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/boys/boys-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/sam/sam-01.jpg", :alt => ""}/
					%a{:href => "/"}
						%img{:src => "img/jvl/jvl-01.jpg", :alt => ""}/
		%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
		%script{:src => "bower_components/jquery/dist/jquery.js"}
		%script{:src => "bower_components/what-input/dist/what-input.js"}
		%script{:src => "bower_components/foundation-sites/dist/js/foundation.js"}
		%script{:src => "bower_components/slick-carousel/slick/slick.js"}
		%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/animsition/3.6.0/js/jquery.animsition.js"}
		%script{:src => "js/min/app-min.js"}
		:javascript
			$(document).ready(function(){
				$('.carousel').slick({
					dots: false,
					infinite: true,
					speed: 300,
					slidesToShow: 1,
					centerMode: false,
					variableWidth: true,
					autoplay: true,
					autoplaySpeed: 4000,
				});
			});
